body {background-color: #F3FC80;color: #F8AA03}
h1 {color: green}
.blanco {color: grey; }
.titulo {color: #F51F69;background-color: white; font-size: 50px; text-decoration: underline; justify-content: center}
